Repository TooTallNate/Java-WebSocket, pull requests merged in 2019-06, with the labels that each got.

#894 Make Issue825Test more stable
  src/test/java/org/java_websocket/issues/Issue825Test.java
Labels: Test

#908 Remove outdated 'wrapper' task from build.gradle (#907)
  build.gradle
Labels: Build

#906 Implemented a custom DNS resolver, see #859
  src/main/java/org/java_websocket/client/DnsResolver.java
  src/main/java/org/java_websocket/client/WebSocketClient.java
Labels: Client, New Feature

#901 fix when proxy tunneling failed (IOException is hidden) JDK-8173…
  src/main/java/org/java_websocket/client/WebSocketClient.java
Labels: Bug, Client
