Repository TooTallNate/Java-WebSocket, pull requests merged in 2019-01, with the labels that each got.

#829 Added test for #825
  src/main/example/SSLClientExample.java
  src/test/java/org/java_websocket/issues/AllIssueTests.java
  src/test/java/org/java_websocket/issues/Issue825Test.java
Labels: Test

#833 Fix some sonarqube errors
  src/main/java/org/java_websocket/SocketChannelIOHelper.java
  src/main/java/org/java_websocket/WebSocketImpl.java
  src/main/java/org/java_websocket/server/WebSocketServer.java
  src/test/java/org/java_websocket/server/WebSocketServerTest.java
Labels: Refactor, Test

#843 Fix typos in WebSocketServer
  src/main/java/org/java_websocket/server/WebSocketServer.java
Labels: Documentation, Server
