Repository TooTallNate/Java-WebSocket, pull requests merged in 2019-04, with the labels that each got.

#874 Update dependencies
  pom.xml
Labels: Build

#868 Add a way to put additional headers to handshake for connecting/reconnecting, see #865
  src/main/java/org/java_websocket/client/WebSocketClient.java
Labels: Client, New Feature

#880 Update Issue661Test.java
  src/test/java/org/java_websocket/issues/Issue661Test.java
Labels: Bug, Test

#878 Replace TimerTask with ScheduledExecutorService
  src/main/java/org/java_websocket/AbstractWebSocket.java
  src/main/java/org/java_websocket/WebSocketImpl.java
  src/main/java/org/java_websocket/util/NamedThreadFactory.java
  src/test/java/org/java_websocket/issues/Issue666Test.java
Labels: Bug, Client, Refactor, Server
