Repository TooTallNate/Java-WebSocket, pull requests merged in 2020-01, with the labels that each got.

#931 Create new github actions
  .github/workflows/ci.yml
  sonar-project.properties
Labels: Refactor

#964 Use socket isConnected() method rather than isBound() before con…
  src/main/java/org/java_websocket/client/WebSocketClient.java
  src/test/java/org/java_websocket/issues/AllIssueTests.java
  src/test/java/org/java_websocket/issues/Issue962Test.java
Labels: Client

#943 Merge pull request #943 from da-als/master
  src/main/java/org/java_websocket/SSLSocketChannel2.java
Labels: wss

#970 Made loggers non-static to support deployment in containers
  src/main/java/org/java_websocket/AbstractWebSocket.java
  src/main/java/org/java_websocket/SSLSocketChannel.java
  src/main/java/org/java_websocket/SSLSocketChannel2.java
  src/main/java/org/java_websocket/WebSocketImpl.java
  src/main/java/org/java_websocket/drafts/Draft_6455.java
  src/main/java/org/java_websocket/server/WebSocketServer.java
Labels: Client, Refactor, Server

#914 Merge pull request #914 from marci4/Issue900
  src/main/java/org/java_websocket/WebSocketImpl.java
  src/main/java/org/java_websocket/exceptions/WrappedIOException.java
  src/main/java/org/java_websocket/server/WebSocketServer.java
  src/test/java/org/java_websocket/issues/Issue900Test.java
Labels: Bug, Server
