Repository TooTallNate/Java-WebSocket, pull requests merged in 2020-04, with the labels that each got.

#1000 SSLParameters for WebSocketClient
  keystore.jks
  src/main/example/SSLClientExample.java
  src/main/example/SSLServerCustomWebsocketFactoryExample.java
  src/main/example/SSLServerExample.java
  src/main/example/TwoWaySSLServerExample.java
  src/main/java/org/java_websocket/client/WebSocketClient.java
  src/test/java/org/java_websocket/example/AutobahnSSLServerTest.java
  src/test/java/org/java_websocket/issues/Issue962Test.java
  src/test/java/org/java_websocket/issues/Issue997Test.java
  src/test/java/org/java_websocket/keystore.jks
  src/test/java/org/java_websocket/keystore_localhost_only.jks
  src/test/java/org/java_websocket/util/SSLContextUtil.java
Labels: Client, New Feature, wss

#1001 Allow user to specify max number of pending connections to a server
  src/main/java/org/java_websocket/server/WebSocketServer.java
Labels: New Feature, Server

#1006 Update PerMessageDeflateExtensionTest.java
  src/test/java/org/java_websocket/extensions/PerMessageDeflateExtensionTest.java
Labels: Test
